---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<style>
  .center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
</style>
<BaseLayout title="Your Title Here">
  <div class="center">
    <a href="https://pratyush103.github.io/MazeRunner/">
      <img src="part1.gif" alt="Click to redirect" />
    </a>
  </div>
</BaseLayout>
