---
import Button from "@/components/Button.astro";
import BaseLayout from "@/layouts/BaseLayout.astro";
import { logoutAccount } from "@/actions/logoutAccount";
---

<BaseLayout>
  <div class="grid gap-12">
    <h1>Homepage</h1>
    <form id="logout-form">
      <Button>Logout</Button>
    </form>
  </div>

  <script type="module">
    const logoutForm = document.querySelector("#logout-form");

    logoutForm.addEventListener("submit", async (e) => {
      e.preventDefault();

      const { success, error } = await import("../actions/logoutAccount").then(
        (mod) => mod.logoutAccount()
      );

      if (success) {
        console.log("Logged out successfully");
        window.location.reload();
      } else {
        console.error("Logout error:", error);
      }
    });
  </script>
</BaseLayout>
